@import url('https://fonts.googleapis.com/css?family=Patua+One');
$Arial: Arial, Helvetica, sans-serif;
$Patua: 'Patua One', sans-serif;
$blue: #00afe1;
*{
	box-sizing: border-box;
}
body{
	min-width: 1000px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.content-wrap{
	width: 1000px;
	padding: 0 25px;
	margin: 0 auto;	
}
.main-header{
	min-height: 110px;
	background: url(../img/header-back.png) repeat-x 0 0;
	padding: 20px 0 20px 0;
	.logo{	
		text-indent: -9999px;
		overflow: hidden;
		width: 263px;
		height: 65px;
		background: url(../img/logo.png) no-repeat 0 0;
		float: left;
	}
	.search-wrap{
		margin: 20px 0 0 0;
		width: 240px;
		float: right;
		position: relative;
		height: 28px;
		input[type="search"]{			
			border-radius: 4px;
			width: 240px;
			padding: 0 75px 0 10px;
			height: 100%;
		}
		input[type="submit"]{
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 4px;
			background: linear-gradient(to bottom, #00c2e9, #0095d5);
			border: none;
			width: 75px;
			height: 100%;
			font: bold 13px/1 $Arial;
			color: #fff; 
			cursor: pointer;
		}
	}
}
.main-menu{
	background: linear-gradient(to bottom, #009cc8, #00b0e2);
	font-size: 0;
	a{	
		text-decoration: none;
		margin: 0 16px;
		color: #fff;
		font: bold 14px/50px $Arial;  
		text-align: center;
		z-index: 1;
		position: relative;
		display: inline-block;
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 60px;
			top: 0;
			left: -17px;
			background: linear-gradient(to bottom, #1a1a1a, #333);
			z-index: -1;
			padding: 0 17px;
			border-radius: 0 0 5px 5px;
			display: none;
		}
		&:last-child{
			margin-right: 0;
		}
		&:hover::before{
			display: block;
		}		
	
	}	
}
main{
	border-top: 1px solid #fff;
	padding: 25px 0 32px 0;
	background: linear-gradient(to bottom, #e1e1e1 70px, #eee);
	h1{
		font: bold 44px/1 'Patua One';
		background: linear-gradient(to bottom, #606060, #000);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		margin: 0 0 16px 0;
		padding: 0;
	}
}
.products-wrap{
	margin: 0 0 10px 0;
	width: 100%;	
	
	.product{
		border-radius: 7px;
		background: #fff;
		width: 310px;		
		float: left;		
		margin: 0 10px 10px 0;
		padding: 30px;	
		&:nth-child(3n){
			margin-right: 0;
		}
		h3{
			font: bold 24px/1 $Arial;
			color: #212121;
			padding: 0 0 10px 0;
			border-bottom: 1px dotted #ccc;
			margin: 0 0 8px 0;
		}
		p{
			font: normal 12px/1.5 $Arial;
			color: #777; 
			margin: 0;
			word-spacing: -1px;
		}
	}
}

.img-wrap{
	width: 100%;
	padding: 4px;
	border: 1px solid #ebebeb;
	margin: 0 0 6px 0;
	img{
		width: 100%;
		display: block;
	}
}
.switcher-wrap{
	text-align: center;
	font-size: 0;
	a{
		color: #000;
		display: inline-block;
		padding: 6px 9px;
		text-decoration: none;
		font: normal 12px/1 $Arial;
		&:hover{
			transform: scale(1.1);
		}
	}
	.prev, .next{
		background: #00b0e2;
		color: #fff;
	}
	.active{
		background: #1e1e1e;
		color: #fff;
	}
}
.news-wrapper{
	background: #1e1e1e;
	box-shadow: inset 0px 15px 10px  -10px #000 ;
	.news-item{
		float: left;
		width: 33.333%;
		color: #ccc;
		font: normal 12px/1 $Arial;
		padding: 18px 20px 30px 20px;
		h3{
			color: #e5e5e5;
			font: normal 24px/1 $Patua;
			margin: 0 0 16px 0;
			padding: 0;
		}
		.blue{
			color: $blue;
			font: bold 12px/1 $Arial;
			margin: 0 0 5px 0;
		}
		.date{
			border-bottom: 1px dotted;
			margin: 0;
			padding: 0 0 12px 0;
		}
		.author{
			font-weight: bold;
		}
		.news-content{
			margin: 0 0 8px 0;
			line-height: 18px;
			padding: 10px 0;
			border-bottom: 1px dotted;
		}
		.read-more-wrap{
			text-align: right;
			.read-more{
				color: $blue;
				text-decoration: none;
				font-weight: bold;

				&:hover{
					text-decoration: underline;
				}
			}
		}
		.comment-content-wrap{
			margin: 0 0 8px 0;
		}
		.comment-content{
			padding:0 0 10px 0;
			margin: 0 0 11px 0;
			border-bottom: 1px dotted;
			line-height: 16px;
		}		
	}
}
.main-footer{
	text-align: center;
	background: #000;
	min-height: 75px;
	padding: 30px 0 0 0;
	.copyrights{
		color: #656565;
		font: normal 12px/1 $Arial;
		padding: 0;
		margin: 0;		
		.email{
			font-weight: bold;
			color: #585858;
		}
		
	}

}